<h2>Books</h2>
<%= render 'partial/userinfo', book: @book %>
<div>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
    <th></th>
  </tr>
  <tr>
  <% @books.each do |book| %>
    <td><%= attachment_image_tag book.user, :profile_image, size: "40x40" %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  <% end %>
  </tr>
</div>